/* styles.css */

/* Add styles here to customize the appearance of your app */

#cmdField {
  width: 98.6%;
  height: 100%;
  font-size: 3.62em;
  outline: none !important;
  border:solid rgb(121, 237, 255);
  border-color: transparent;
}
