/* styles.css */

/* Add styles here to customize the appearance of your app */

@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-VariableFont_wght.ttf);
}

* {
  font-family: Raleway;
}

#cmdField {
  width: 98.6%;
  height: 100%;
  font-size: 3.4em;
  color: white;
  outline: none !important;
  border-color: transparent;
  background-color: rgba(128, 128, 128, 0.6);
  border-radius: 10px;
}

#copiedToClipboard {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  text-align: center;
  color: white;
  font-size: 3.4em;
  font-weight: bold;
  font-style: italic;
}

#title {
  display: "flex";
  color: white;
  font-size: 1.5em;
  /* background-color: blue; */
  width: 100%;
  margin-left: 2%;
  padding: 2%;
  /* margin-top: 3%; */
}

#commands {
  display: "block";
  color: white;
  font-size: 1.1em;
  /* background-color: red; */
  margin-left: 7%;
}

#description {
  display: "block";
  color: white;
  font-size: 0.9em;
  /* background-color: purple; */
  margin-left: 9%;
  margin-top: 0.5%;
}

#background {
  background-color: rgba(128, 128, 128, 0.6);
  height: 90vh;
  width: 90vw;
  border-color: transparent;
  border-radius: 10px;
  display: block;
}

p {
  color: black;
  font-size: 30px;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
}
