/* styles.css */

/* Add styles here to customize the appearance of your app */

@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-VariableFont_wght.ttf);
}

* {
  font-family: Raleway;
}

#cmdField {
  display: flex;
  width: 80%;
  height: 74%;
  font-size: 3.2em;
  color: white;
  outline: none !important;
  border-color: transparent;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 10px;
  
  padding-left: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cmdFieldDisabled {
  display: flex;
  width: 80%;
  height: 74%;
  font-size: 3.2em;
  color: rgb(162, 162, 162);
  outline: none !important;
  border-color: transparent;
  background-color: transparent;
  border-radius: 10px;
  
  padding-left: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  visibility: hidden;
}

::placeholder {
  color: rgb(162, 162, 162);
  opacity: 1;
}

#copiedToClipboard {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
}

#title {
  display: "flex";
  color: white;
  font-size: 1.5em;
  /* background-color: blue; */
  width: 100%;
  margin-left: 2%;
  padding: 2%;
  /* margin-top: 3%; */
}

#commands {
  display: "block";
  color: white;
  font-size: 1.1em;
  /* background-color: red; */
  margin-left: 7%;
  margin-top: 1%;
}

#topCommand {
  display: "block";
  color: white;
  font-size: 1.1em;
  /* background-color: red; */
  margin-left: 7%;
}

#description {
  display: "block";
  color: white;
  font-size: 0.85em;
  /* background-color: purple; */
  margin-left: 12%;
  margin-top: 0.5%;
}

#background {
  /* background-color: rgba(61, 61, 61, 0.6); */
  background-color: rgba(86, 86, 86, 0.85);
  height: 90vh;
  width: 90vw;
  border-color: transparent;
  border-radius: 10px;
  display: block;
}

.cmd {
  color: black;
  font-size: 30px;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
}

#favicon {
  width: 5%;
  position: absolute;
  top: 50%;
  left: 8.5%;
  transform: translate(-30%, -50%);
  z-index: 1;
}

/* .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ff8e24;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.3s cubic-bezier(.17,.67,1,.27) infinite;

  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
} */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 128px;
  height: 128px;
  margin: 8px;
  border: 12px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff8e24 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
