body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.panel {
    text-align: center;
    margin-top: 5rem;
}

.left-panel {
    text-align: left;
    margin-top: 5rem;
    padding-left: 1rem;
}

.right-panel {
    margin-top: 5rem;
    text-align: right;
    padding-right: 1rem;
}

img {
    max-width: 80%;
}